article {padding-bottom:10%; padding-top:10%; padding-left:5%; padding-right:5%;}
nav {padding:4%;}

.container-logo {width:10%; margin-right:5%;}
.logo {font-size:25px;}
.nav-btn {margin-right:5%; font-size:16px;}
.nav-links {display:none;}

.title-home {font-size:42px; margin-bottom:8%;}
.subtitle-home {font-size:32px; margin-bottom:5%;}
.text-home {font-size:18px; margin-bottom:5%;}

.btn {padding:3%;}

.title-section {font-size:32px;}
.subtitle-section {font-size:26px;}
.text-section {font-size:18px; margin-top:12%; margin-bottom:6%;}

#about .subtitle-section {padding-top:8%; padding-bottom:8%;}
#about .subtitle-section {text-align:center;}
.tag-skill {padding:1%;}
.tag-educ {font-size:15px; margin-bottom:3%;}
.tag-educ {padding:3%;}
.tag-cert {font-size:15px;}
.tag-cert {padding-top:3%; padding-bottom:3%;}
.tag-exp {font-size:18px; margin-bottom:10%;}
.tag-exp li {font-size:15px; margin-left:4%;}
.skill {margin-bottom:7%; margin-top:2%;}

.work-article {margin-top:10%; margin-bottom:10%;}

.date-project {font-size:20px;}
.tag-project {font-size:20px;}
.info-project {font-size:18px;}

.tag-contact {display:flex;margin-bottom:3%; margin-top:3%;}
.tag-contact p {margin-top:auto; margin-bottom:auto; font-size:20px;}
.ctc-img {width:10%; height:10% !important; margin-right:2%;}

footer {padding:3%;}
.rights {font-size:10px;}
